html, body, #page_1, #page_1 > div, #footer {
  overflow: hidden;
}
#page_1 {
  background: #fff;
}

#footer {
  background: #fff;
  border: none;
  padding-bottom: 10px;
}

#footer a:not(#info) .ui-btn-inner {
  padding: 10px 30px;
}

/* just for mobile */
@media screen and (max-device-width: 480px) {
  .ui-page {
    -webkit-backface-visibility: hidden;
    height: 100%;
  }
}

.ui-icon-nav-nearby {
  background: url(images/icon-list.png) 50% 50% no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .navbar .ui-btn .ui-icon {
    background-size: 26px 26px;
  }
  .ui-icon-nav-nearby {
    background: url(images/icon-list-retina.png) 50% 50% no-repeat;
  }
}




#header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  padding: 15px;
  margin-top: 0px;
  text-shadow: 0 1px 0 #ddd;
}
#title {

}
#timer {
  font-size: 3.3em;
  margin: .1em 15px .1em;
}

#info {
  position: absolute;
  top: 82px;
  right: 5px;
}

#workout_image {
  position: absolute;
  width: 1200%;
  top: 10%;
  left: 0px;

  -webkit-transition: left 0.5s ease-out, top 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: left 0.5s ease-out, top 0.5s ease-out;  /* Firefox 4-15 */
  -o-transition: left 0.5s ease-out, top 0.5s ease-out;  /* Opera 10.50–12.00 */
  transition: left 0.5s ease-out, top 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


